<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--核心配置文件-->
<configuration>
<!--    <properties resource="application-dev.yaml"/>-->
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/miaosha?useUnicode=true&characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="ljm19991115"/>
            </dataSource>
        </environment>

        <!--        TODO：修改uat和prod下的datasource-->
        <environment id="uat">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/miaosha?useUnicode=true&characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="ljm19991115"/>
            </dataSource>
        </environment>

        <environment id="prod">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/miaosha?useUnicode=true&characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="ljm19991115"/>
            </dataSource>
        </environment>
    </environments>
    <typeAliases>
        <package name="com.schedulework.login.Entity"/> <!--替换成你的项目的实体类的路径-->
    </typeAliases>
    <!--  关联xml配置的文件  -->
    <mappers>
        <mapper resource="src/main/resources/mapper/mapper.xml"/>

    </mappers>
</configuration>
